.img-fluid {
    border-radius: 20px; /* Ajusta el valor según tus preferencias */
    border: 2px solid #505050; /* Borde celeste */
    box-shadow: 0 0 10px 5px #7f8283; /* Sombreado celeste intenso */
}

.textoprimeraimagen {
    font-size: 25px;
}

.cuadro-texto {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #21c8ff; /* Borde celeste */
    box-shadow: 0 0 10px 5px #00bfff; /* Sombreado celeste intenso */
    
}

.columna-texto {
    width: calc(33.33% - 20px); /* Calcula el ancho de cada columna (33.33% - 20px de espacio) */
    padding: 0 10px; /* Agrega un poco de espacio alrededor del contenido */
    border-left: 2px solid #00bfff; /* Línea vertical celeste */
}

.columna-texto h4 {
    margin-top: 0; /* Elimina el margen superior de los títulos */
}

.columna-texto h4:not(:first-child) {
    border-left: 2px solid #00bfff; /* Línea vertical celeste */
    padding-left: 10px; /* Espacio entre el borde y el texto */
}

.separador-vertical {
    width: 2px;
    background-color: #00bfff; /* Color celeste */
    margin: 0 20px; /* Espacio entre las columnas */
}
