

.img-fluid {
    border-radius: 20px; /* Ajusta el valor según tus preferencias */
    border: 2px solid #505050; /* Borde celeste */
    box-shadow: 0 0 10px 5px #7f8283; /* Sombreado celeste intenso */
}

.textoprimeraimagen {
    margin-top: 30px;
    font-size: 30px;
    font-family: Mandali-Regular;
    src: url(../assets/font/Mandali-Regular.ttf);
    

}

.token {
    font-size: 25px;
    font-family: Mandali-Regular;
    src: url(../assets/font/Mandali-Regular.ttf);
}
.titulos {
    text-shadow: 4px 4px 6px rgba(80, 76, 76, 0.5);
    font-size: 5rem;
    margin-top: 15px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    margin-left: 10px;
    font-family: Rokkitt-Italic-VariableFont_wght;
    src: url(../assets/font/Rokkitt-Italic-VariableFont_wght.ttf);
}


.cuadro-texto {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #21c8ff; /* Borde celeste */
    box-shadow: 0 0 10px 5px #00bfff; /* Sombreado celeste intenso */
    
}

.columna-texto {
    width: calc(33.33% - 20px); /* Calcula el ancho de cada columna (33.33% - 20px de espacio) */
    padding: 0 10px; /* Agrega un poco de espacio alrededor del contenido */
    border-left: 2px solid #00bfff; /* Línea vertical celeste */
}

.columna-texto h4 {
    margin-top: 0; /* Elimina el margen superior de los títulos */
}

.columna-texto h4:not(:first-child) {
    border-left: 2px solid #00bfff; /* Línea vertical celeste */
    padding-left: 10px; /* Espacio entre el borde y el texto */
}

.separador-vertical {
    width: 2px;
    background-color: hwb(195 0% 0%); /* Color celeste */
    margin: 0 20px; /* Espacio entre las columnas */
}

.piedepagina {
    background-color: #918d8d33;
    margin-top: 30px;
}
ul.list-unstyled {
    padding-left: 20px; /* Ajusta el espaciado para los puntos cuadrados */
}

ul.list-unstyled li {
    margin-bottom: 10px; /* Espaciado entre cada elemento de la lista */
}

ul.list-unstyled li i {
    color: hsl(192, 100%, 60%); /* Color de los puntos cuadrados */
    margin-right: 10px; /* Espaciado entre los puntos cuadrados y el texto */
}
ul.list-unstyled li {
    margin-bottom: 80px; /* Espaciado entre cada elemento de la lista */
    font-weight: bold; /* Hace que el texto esté en negrita */
}


.puntostexto {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    margin-left: 10px;
}
ul.list-unstyled li:nth-child(1) i {
    color: rgb(0, 162, 255); /* Color para el primer punto cuadrado */
}

ul.list-unstyled li:nth-child(2) i {
    color: rgb(0, 238, 255); /* Color para el segundo punto cuadrado */
}

ul.list-unstyled li:nth-child(3) i {
    color: rgba(0, 255, 255, 0.568); /* Color para el tercer punto cuadrado */
}
ul.list-unstyled li:nth-child(4) i {
    color: rgba(1, 247, 255, 0.164); /* Color para el tercer punto cuadrado */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #ddd; /* Línea separadora */
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.phase {
    flex: 0 0 calc(33.333% - 20px); /* Tamaño de cada columna */
    margin-bottom: 20px;
}
.phase h2 {
    text-align: center;
}
.phase ul {
    list-style-type: none;
    padding-left: 0;
}
.phase ul li {
    margin-bottom: 10px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .phase {
        flex: 0 0 calc(100% - 20px); /* Una columna en dispositivos móviles */
    }
}


.imagenfondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/imagendefondo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.contenido {
    padding-top: 100px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: white; /* Cambiado a texto blanco para mayor contraste */
}

.botones {
    display :flex;
    margin-left: 170px;
    margin-right: 10px;
}

.cuadro-horizontal {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    border: 2px solid violet; /* Borde sólido violeta */
    padding: 10px; /* Añade un poco de espacio dentro del cuadro */
    margin-left: 20px; /* Margen izquierdo */
    margin-right: 20px; /* Margen derecho */
    box-shadow: 0 0 10px 5px rgba(128,0,128,0.5); /* Sombra violeta intenso */
    max-width: calc(100% - 40px); /* Ancho máximo igual al 100% del contenedor menos los márgenes */
    /* Ajusta el 100% y 40px según tus necesidades */
}

.cuadro-horizontal img {
    max-width: 20%; /* Reducir el ancho máximo de la imagen al 40% del contenedor */
    margin-right: 20px; /* Margen derecho para separar la imagen del texto */
}

.texto {
    flex: 1; /* El texto ocupa todo el espacio restante */
}




